<div style="padding: 13px;">
  <mat-spinner *ngIf="currencies.length === 0"></mat-spinner>

  <mat-card style="margin-top: 11px;" >
    <mat-card-header>
      <mat-card-title><h4>USD VS OTHER CURRENCIES</h4></mat-card-title>
      <mat-card-subtitle>{{currencies | json}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>ZAR  :  </li>
        <li>BDT  :  </li>
        <li>PKR  :  </li>
        <li>INR  :  </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="refreshCurrencies()">Refresh</button>
    </mat-card-actions>
  </mat-card>
</div>
